:root {
    --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --clr-green-main: #238636;
    --clr-green-hover: #2ea043;
    --clr-green-active: #36b850;

    --clr-main: var(--clr-green-main);
    --clr-active: var(--clr-green-active);
    --clr-hover: var(--clr-green-hover);
}

.github-login-button {
    font-size: 90%;
    padding: 0.5em 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-family: var(--font-family);
    background: none;
    border: none;
    outline: none;
    width: fit-content;
    background-color: var(--clr-main);
    color: #ffffff;
    font-weight: 500;
    border-radius: 0.5em;
    margin: 0.25em;
    transition: background-color 100ms;
    vertical-align:middle;
    box-shadow: 0.1em 0.1em 0.2em 0.1em #0003;
}

.github-login-button:hover,
.github-login-button:focus-visible {
    cursor: pointer;
    background-color: var(--clr-hover);
}

.github-login-button:focus-visible {
    box-shadow: 0 0 0 0.125em black;
}
.github-login-button:active {
    background-color: var(--clr-active);
}