.aside {
    display: flex;
    max-height: calc(100vh - 5em);
    margin: 0;
    padding: 0;
    padding-top: 4.5em;
    width: 20%;
    background-color: #0d1117;
    border-right: 1px solid #30363d;
    /* background-color: transparent; */
    min-height: 100vh;
    /* border: 1px blue solid; */
    position: fixed;
    flex-flow: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

.aside-list {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 84vh;
}

.aside-list::-webkit-scrollbar-thumb {
    background-color: #161b22;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

.aside-list::-webkit-scrollbar-thumb:hover {
    background-color: #010409;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}
.aside-list::-webkit-scrollbar {
    background-color: transparent;
    padding-top: 10%;
    width: 15px;
}
@media (max-width: 1150px) {
    .aside {
        display: none;
    }
}
.git-link {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    margin-top: 0.15em;
}
.repo-listing {
    display: inline-flex;
    justify-content: first baseline;
    gap: 1em;
    align-items: center;
    color: white;
    padding-inline: 0.75em 0.5em;
    height: 2em;
    margin-block: 0.25em;
    /* border: 1px solid red; */
}

.repo-button {
    outline: none;
    flex: 1 1;
    border:none;
    font-size: 1em;
    color: white;
    border-radius: 0.25em;
    background-color: var(--clr-main);
    padding: 0.25em 0.75em;
    user-select: none;
    box-shadow: 0.125em 0.125em 0.2em 0em #0006;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.repo-button:hover {
    cursor: pointer;
    background-color: var(--clr-hover);
}

.repo-button:active {
    background-color: var(--clr-active);
}

.repo-button:focus-visible {
    background-color: #008dd3;
    box-shadow: 0 0 0 0.125em white;
}

.aside-title {
    color: white;
    padding-bottom: 0.5em;
    text-align: center;
    border-bottom: 1px #30363d solid;
    margin-bottom: 0.5em;
    position: relative;
}

.aside-title.loading::before, .aside-title.loading::after {
    content: '';
    position: absolute;
    top: 0.5em;
    left: 7.5%;
    margin: auto;
    width: 0.35em;
    background-color: #f0f6fc;
    border-radius: 50%;
    aspect-ratio: 1;
    animation: loop 2s infinite;
}


.aside-title.loading::after {
    animation-delay: 0.4s;
}

@keyframes loop {
    from { transform: rotate(630deg) translateX(0.5em) rotate(-630deg); }
    to   { transform: rotate(270deg) translateX(0.5em) rotate(270deg); }
}
