#hamburger {
    user-select: none;
    pointer-events: none;
    display: none;
    position: relative;
    min-width: 30px;
    min-height: 28px;
    border: none;
    background-color: transparent;
    outline: none;
    border-top: 6px solid #ffab2c;
    border-bottom: 6px solid #ffab2c;
    border-radius: 6px;
    transition: min-height 400ms cubic-bezier(0.35, -3, 0.65, 3), height 400ms cubic-bezier(0.35, -3, 0.65, 3), max-height 400ms cubic-bezier(0.35, -3, 0.65, 3),
    transform 400ms cubic-bezier(0.35, -3, 0.65, 3);
    transform-origin: center;
    overflow: hidden;
    margin: 0.125rem;
}

#hamburger.squished {
    max-height: 16px;
    min-height: 16px;
    /* height: 10px; */
    transform: rotate(45deg);
}

#hamburger::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    min-width: 28px;
    max-width: 28px;
    min-height: 12px;
    max-height: 12px;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgb(255, 0, 0) 15%,
        rgb(255, 255, 0) 15%,
        rgb(255, 255, 0) 30%,
        rgb(95, 45, 14) 30%,
        rgb(95, 45, 14) 75%,
        rgb(252, 211, 122) 75%,
        rgb(252, 211, 122) 85%,
        rgb(78, 161, 10) 85%
    );
    border-radius: 3px;
    opacity: 1;
}

#hamburger::after {
    position: absolute;
    inset: 0;
    margin: auto;
    content: "";
    top: -3px;
    right: 15px;
    min-width: 0px;
    min-height: 0px;
    max-width: 0px;
    max-height: 0px;
    border-top: 4px yellow solid;
    border-left: 4px transparent solid;
    border-right: 4px transparent solid;
}

.button-wrapper {
    cursor: pointer;
    display: none;;
    max-width: 45px;
    min-width: 45px;
    max-height: 45px;
    min-height: 45px;
    border-radius: 0.25rem;
    border: 1px solid #30363d;
    background-color: #0d1117;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1150px) {
    #hamburger {
        display: block;
    }
    .button-wrapper {
        display: flex;
    }
}
