header {
    font-family: Calibri;
    min-height: 4em;
    background-color: #161b22;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* gap: 5vw; */
    padding: 0em 1em 0em 1em;
    border-bottom: 1px solid #30363d;
    max-width: 100vw;
}

/* header::after {
    content: attr(aria-label);
    color:#fff2;
    position: absolute;
    right: 2.5%;
    font-weight: bold;
    font-style: italic;
    bottom: -0.09em;
    overflow-y: hidden;
    font-size: 3.5em;
} */

/* 
header input {
    outline: none;
    width: 15em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.125em #333 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

header input:placeholder-shown {
    font-style: italic;
    font-weight: bold;
} */

