.login-input {
    width: 17.5rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #30363d;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.35rem;
}

.login-section h3 {
    color: #f0f6fc;
}


.login-form {
    /* style={{display: "flex", justifyContent:"center", flexFlow:"column", alignItems:"center", gap:"0.5rem"}} */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    /* padding: 0.5rem; */
    background-color: #0d1117;
    border-radius: 0.5rem;
    opacity: 1;
    z-index: 1;
    border: 1px solid #30363d;
    overflow: hidden;
    padding-bottom: 1rem;
}

.login-header {
    background-color: #161b22;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}