body {
    background-color: #010409 ;
}
.main-wrapper {
    display: flex;
    flex-flow: row;
    overflow: hidden;
}
.main-page {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";;
    /* width: 100vw; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center; */
    /* gap: 2% 1.5%; */
    /* padding: 5em 1em; */
    flex: 4;
    flex-flow: column;
    /* border: 1px yellow solid; */
    padding-block: 4em 2em;
    overflow: hidden;
}

.main-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 0em 1em;
    min-height: fit-content;
    /* overflow: hidden; */
}

.main-split {
    /* width: 100vw; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center; */
    /* gap: 2% 1.5%; */
    /* padding: 5em 1em; */
    flex-basis: 80%;
    /* border: 1px red solid; */
}

.main-section {
    /* border: 1px green solid; */
    flex-grow: 0;
    display: flex;
    flex: 1;
    flex-basis: 50%;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}
.main-section:first-of-type {
    padding: 1em 0.5em 1em 1em;
}

.main-section:nth-of-type(2) {
    padding: 1em 1em 1em 0.5em;
}
.aside-gap {
    flex:1;
    /* border: 1px blue solid; */
}

.main {
    display: flex;
    flex-flow: row;
}

.content-pane {
    color: white;
    display: flex;
    flex-flow: column;
    background-color: #0d1117;
    border-radius: 0.5em;
    box-shadow: 0 0 0 1px #30363d;
    font-weight: bold;
    width: 100%;
    max-width: 90vw;
    overflow: hidden;
}

.content-pane > *:first-child {
    margin-bottom: calc(15vw * 1em);
}
/* .content-pane::after {
 
} */
.content-pane-body {
    /* border: 1px purple solid; */
    padding: 0em 0em 1em 0em;
    white-space:pre-wrap;
    /* flex-basis: 100%; */
    text-overflow: ellipsis;
    overflow: hidden;
    /* flex-basis: 100%; */
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: visible;
    max-width: 100%;

}
.content-pane-header {
    position: relative;
    margin-bottom: 1em;
    font-size: 1.2em;
    height: 3em;
    width: 100%;
    background-color: #161b22;
    /* background-color: transparent; */
    border-radius: 0.5em 0.5em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 2em;
}

/* @media (max-width: 1100px) {
    .content-pane {
        flex-basis: 80%;
        padding: 0.25em 1em;
    }
} */


@media (max-width: 1150px) {
    .main-page {
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    .main-section {
        padding: 0em 1em 1em 1em !important;
        /* margin-bottom: 0.5em; */
    }
    .aside-gap {
        display: none;
    }
    .main-split {
        flex-flow: column;
    }
    .main-wrapper {
        flex-flow: column;
    }
    .main-header-section {
        margin-bottom: 1em;
    }
}

/* @media (max-width: 720px) {
    .aside-gap {
        display: none;
    }
} */

.content-pane-header.loading::before, 
.content-pane-header.loading::after {
    content: '';
    position: absolute;
    top: 1em;
    left: 3.5%;
    margin: auto;
    width: 0.35em;
    background-color: #f0f6fc;
    border-radius: 50%;
    aspect-ratio: 1;
    animation: loop 2s infinite;
}

.content-pane-header.loading::after {
    background-color: #238636;
    animation-delay: 0.4s;
}

.content-pane-header span {
    max-width: 25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-constrain {
    max-width: 25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.5em;
}
@keyframes loop {
    from { transform: rotate(630deg) translateX(0.5em) rotate(-630deg); }
    to   { transform: rotate(270deg) translateX(0.5em) rotate(270deg); }
}


.toggle-button {
    outline: none;
    flex: 1 1;
    border:none;
    font-size: 1em;
    color: white;
    border-radius: 0.25em;
    background-color: var(--clr-main);
    padding: 0.25em 0.75em;
    user-select: none;
    box-shadow: 0.125em 0.125em 0.2em 0em #0006;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    max-width: fit-content;
}

.toggle-button:hover {
    cursor: pointer;
    background-color: var(--clr-hover);
}

.toggle-button:active {
    background-color: var(--clr-active);
}

.toggle-button:focus-visible {
    background-color: #008dd3;
    box-shadow: 0 0 0 0.125em white;
}


.notif {
    transform: translateY(-500%);
    position: fixed;
    top: 1.25rem;
    left: 2rem;
    z-index: 10000;
    border: none;
    outline: none;
    background-color: #30363d;
    color: white;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
    /* font-size: 1.05rem; */
    animation: in-out 5s linear 1s 1 forwards;
}

.notif > code {
    border: 1px solid #464f58;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    padding: 0.125rem 0.25rem;
}
@keyframes in-out {
    0%, 100% {
        transform: translateY(-500%);
    }
    10%, 90% {
        transform: translateY(0%);
    }
}
/* .skip-to-content-btn:focus-visible {
    transform: translateX(0%);
    box-shadow: 0 0 0 0.125rem #238636;
} */