.range-slider {
    height: 0.25rem;
    width: 100%;
    background-color: #f0f6fc;
    border-radius: 1rem;
    position: relative;
    display: inline;
    /* margin-block: 1rem; */
}

.range-slider .range-progress {
    height: 0.25rem;
    border-radius: 1rem;
    position: absolute;
    right: 0%;
    left: 0%;
    background-color: #2ea043;
}

.slider-wrapper {
    width: 90%;
    padding: 1rem;
    background-color: #161b22;
    border-radius: 0.25rem;
    border: 1px solid #464f58;
    display: flex;
    flex-direction: column;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -0.25rem;
    height: 0.25rem;
    padding: 0;
    margin: 0;
    width: 100%;
    appearance: none;
    background: none;
    pointer-events: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 0.7rem;
    appearance: none;
    background-color: #238636;
    box-shadow: 0 0 0 1px #464f58;
    pointer-events: auto;
}
.range-input input[type="range"]::-moz-range-thumb {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 0.7rem;
    -moz-appearance: none;
    background-color: #238636;
    pointer-events: auto;
    border: none;
    box-shadow: 0 0 0 1px #464f58;
}
.range-input input.range-min[type="range"]::-webkit-slider-thumb   {
    width: 1.5rem;
    transform: translateX(-0.175rem);
}
.range-input input.range-max[type="range"]::-webkit-slider-thumb   {
    width: 1.5rem;
    transform: translateX(0.175rem);
}
.range-label {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px #464f58;
    padding: 0.25rem;
    border-radius: 0.25rem;
    min-width: 4rem;
    max-width: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
}

.range-wrapper {
    color: #f0f6fc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1rem;
    margin-block: 1rem 1rem;
}