.star-rating {
    display: flex;
    font-size: 2rem;
    user-select: none;
    min-width: fit-content;
    max-width: fit-content;
    color: transparent;
    /* background-image: linear-gradient(90deg, #238636 75%, transparent 75%); */
    border: 1px solid #30363d;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-anchor: middle;
    padding-bottom: 0.25rem;
    padding-inline: 0.5rem 0.5rem;
    margin: 0.5rem;
}

.star-rating > span {
    padding: 0;
    margin: 0;
    background-clip: text; 
    background-color: #30363d;

}